body.demo-page,
body.demo-index,
body.refapp {
    font-family: sans-serif;
    background: #ddd;
    color: #333;
    font-size: 13px;
}

.refapp-header {
    display: none;
}

.demo-page a,
.demo-index a,
.refapp a {
    color: #326ca6;
    text-decoration: none;
}
.demo-page a:focus, .demo-page a:hover, .demo-page a:active,
.demo-index a:focus, .demo-index a:hover, .demo-index a:active,
.refapp a:focus, .refapp a:hover, .refapp a:active {
    text-decoration: underline;
}

.navigation a {
    color: #555;
    text-decoration: none;
}

.navigation a:hover {
    color: #000;
    text-decoration: none;
}

.aui-test,
.aui-demo {
    background: #fff;
    border: 1px solid #000;
    margin-bottom: 5px;
    padding: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0 2px 2px #555;
    -webkit-box-shadow: 0 2px 2px #555;
    box-shadow: 0 2px 2px #555;
}

.aui-test,
.sources {
    clear: both;
}

.JSsource,
.HTMLsource {
    border: 1px dashed;
}

.view-js-source-link,
.view-html-source-link {
    margin-top: 10px;
    margin-bottom: 10px;
}

.view-js-source-link a,
.view-html-source-link a {
    color: #aaa;
    text-decoration: none;
}

.view-js-source-link a:hover,
.view-html-source-link a:hover {
    color: #000;
    text-decoration: none;
}

.shim-test {
    padding:15px;
    border:1px dashed #333;
    background-color:#eee;
}

.shim-testing {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    text-align: center;
    border-top: 1px solid;
}

.shims-required .shim-test,
.shims-required-left .shim-test {
    display: inline-block;
    left: 0;
}

.shims-required-right {
    overflow: auto;
}

.shims-required-right .shim-test {
    float: right;
}

.shims-required-center .shim-test {
    width: 500px;
    margin: 0 auto;
    text-align: center;
}


/* demo index pages */

.demo-index li {
    margin-top: 5px;
}

.demo-index a {
    color: #555;
    text-decoration: none;
}

.demo-index a:hover {
    color: #000;
    text-decoration: none;
}

.demo-index .navigation {
    margin: auto;
    margin-top: 50px;
    border: solid 1px;
    width: 800px;
    margin-bottom: 5px;
    padding: 10px;
    background: #fff;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0 5px 5px #555;
    -webkit-box-shadow: 0 5px 5px #555;
    box-shadow: 0 5px 5px #555;
    padding-left: 40px;
}

/* used on forms demo pages */
#example-right {
    background: #eee;
    width: 800px;
}
